/*theres no repeataion occur so  we use it*/

body{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#FC5E55, #FA4083);
    color: white;
}
header{
    width:1000px;
    display: flex;
}
.head{
    flex:3;
    padding-top:40px;
    padding-left: 30px; 
}
.nav{
    flex:1;
    text-align: center;
    padding-top :90px;
}

main{
    width:1000px;
    min-height:300px;
    display: flex;
    
}
.mainbox1{
   
    min-height: 300px;
    flex: 2;
    

}
h1{
    font-size:2rem;
    font-family: 'Playfair Display', serif;
    padding-top: 1rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);

}
p{
    line-height: 1.5rem;
}
.p1{
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
}
.p2{
    font-family: 'Roboto', sans-serif;

}
.mainbox2{
    min-height: 300px;
    flex: 1;
    


}
.imageinbox{
    
    border-radius: 2rem;

}
.container{
    width: 1000px;
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.container p{
    font-family: 'Roboto', sans-serif;
    line-height: 1rem;
    padding-top:1rem;
    

}
.card1{
    height: 300px;
    width: 300px;
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    border-radius: 10%;
    
}
i{
    font-size: 100px;
    padding-top: 0.5rem;
}
.card2{
   
    height: 300px;
    width: 300px;
    background-image:url(images/image-background-card2.jpg);
    background-size: cover;
    border-radius: 10%;
}
.card3{
 
    height: 300px;
    width: 300px;
   background-image: url(images/image-background-card3.jpg);
   background-size: cover;
   border-radius: 10%;

}
h2{
    font-size: 30px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}
.mybutton
{
    background-color:white;
    color: #FA4083;
    padding:10px 10px ;
    display:inline-block;
    border-radius:2px;
    margin-top: 5px;
}
