/*theres no repeataion occur so  we use it*/

body{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#FC5E55, #FA4083);
    color: white;
}
header{
    width:1000px;
    display: flex;
    justify-content: space-between ;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgrey;
}
.head{
    
    padding-top:40px;
    padding-left: 30px; 
}
nav{
    
    text-align: center;
    padding-top :95px;
    margin-bottom: 20px;
    margin-left: 100px;

}

.butt:active{
    color:black;
    background-color:aqua;
    transition-duration:1s;
    transform:scale(0.9);
}
 nav a.mybutton{
    margin-left:16px;
 }
  
main{
    width:1000px;
    min-height:300px;
    display: flex;
    
}
.mainbox1{
   
    min-height: 300px;
    flex: 2;
    

}
h1{
    font-size:2.5rem;
    font-family: 'Playfair Display', serif;
    padding-top: 0.5rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.129);

}
p{
    line-height: 1.5rem;
}
.p1{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
.p2{
    font-family: 'Roboto', sans-serif;

}
.mainbox2{
    min-height: 300px;
    flex: 1;
    
    


}
.mainbox2 img{
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.404);
}
.imageinbox{
    
    border-radius: 2rem;

}
.container{
    width: 1000px;
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.container p{
    font-family: 'Roboto', sans-serif;
    line-height: 1rem;
    padding-top:1rem;
    

}
.card1{
    height: 300px;
    width: 300px;
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.497);
    
}
i{
    font-size: 100px;
    padding-top: 0.5rem;
}
.card2{
   
    height: 300px;
    width: 300px;
    background-image:url(images/image-background-card2.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.497);
}
.card3{
 
    height: 300px;
    width: 300px;
   background-image: url(images/image-background-card3.jpg);
   background-size: cover;
   border-radius: 10%;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.497);
}
h2{
    font-size: 30px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    
}
.mybutton
{
    background-color:white;
    color: #FA4083;
    padding:10px 10px ;
    display:inline-block;
    border-radius:2px;
    margin-top: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.366);
}
  .mybutton:hover{
    background-color:#FC5760;
    color: white;
    transition-duration:0.5s;
    transition-delay:0.5s;

  }
  .mybutton:active{
    background-color:blue;
    transition-duration:0.5s;
    transition-delay: 0.5s;
  }
.navbutton{
    color:white;
    margin-left:25px;

    padding:11px 20px;
border: 1px solid white;
font-family: 'Playfair Display', serif;


}
.navbutton:hover{
    color: #FA4083;
    margin-left:25px;
background-color:white;
    padding:11px 20px;
border: 1px solid #FA4083;
font-family: 'Playfair Display', serif;
transition-duration:0.5s;




}
.navbutton:active{
    color:blue;
    background-color: antiquewhite;
    transform:scale(0.95);
}
.class12{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    


}
.class24{
    color: white;
    width: 47%;
    padding: 40px 40px;
    border:1px solid white; 
    margin: 10px 10px 60px 10px ;
    box-sizing: border-box;

    
    
}
.class24 p{
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
    
h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    text-align: center;
}


